amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
Django
django-celery-beat
django-timezone-field
kombu
prompt_toolkit
psycopg2
psycopg2-binary
python-crontab
python-dateutil
redis
six
sqlparse
tzdata
vine
wcwidth
