{% extends "base.html" %}

{% block content%}
<main class="mt-5 pt-5">
  <!-- Modal HTML -->
  <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Your file size is more than 300MB, please sign up or log in to upload an unlimited file size.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- The first DIV (Header information starts here) -->
  <div class="container-fluid" id="headerInfo">
      <div class="row">
          <div class="col">
              <p class="text-center fs-2 text-dark mt-3 mb-0">Share large files securely & privately!</p>
          </div>
      </div>
  </div>
  <!-- DROPBOX DIV -->
  <div class="container-fluid mt-5 mb-5" id="dropbox">
      <div class="row d-flex justify-content-center">
          <div class="col"></div>
          <div class="col-7">
              <input type="file" class="custom-file-input" id="customFileInput" multiple>
              <label class="custom-file-label" for="customFileInput">
                  <span class="fs-5 custom-file-text">Drag files here or click browse to upload</span>
                  <button class="btn fs-5 custom-file-button" onclick="document.getElementById('customFileInput').click()">Browse</button>
              </label>
          </div>
          <div class="col"></div>
          <p class="text-center mt-2 mb-0 progress-text fs-6">Upload limit is 300MB. Sign up or log in for unlimited upload</p>
      </div>
  </div>
  <!-- SELECTED FILES -->
  <div class="container-fluid" id="fileTable">
      <div class="row d-flex justify-content-center">
          <div class="col-6">
              <div class="row mt-3">
                  <p class="fs-6 fw-bold">Selected file(s):</p>
              </div>
              <div class="row">
                  <div class="col table-responsive">
                      <table class="table table-hover table-sm">
                          <thead>
                              <tr class="table-light">
                                  <th class="col-7">File name</th>
                                  <th class="col-3">Size</th>
                                  <th class="col-2">Action</th>
                              </tr>
                          </thead>
                          <tbody class="table-light">
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                              </tr>
                          </tbody>
                      </table>
                      <i class="bi bi-file-earmark-plus" style="font-size: 1.3rem; color: rgb(235, 95, 95); cursor: pointer;" onclick="document.getElementById('customFileInput').click()"> Add more file</i>
                  </div>
              </div>
              <div class="row d-flex justify-content-end">
                  <button class="custom-upload-button mt-2 mx-3">Upload</button>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock %}