{% extends "base.html" %}
{% block content %}
{% load custom_tags %}
<main class="mt-5 pt-5">
    <!-- UPLOAD SUCCESSFULL DIV -->
    <div class="container-fluid" id="uploaded">
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <p class="text-start fs-4 text-dark mt-3 mb-1">Download</p>
                <!-- Individual Upload information -->
                <div class="container-fluid bg-light p-3">
                    <div class="container-fluid">
                        <div class="container border-bottom border-2 p-0 mt-1 mb-0">
                            <p class="mb-2 fs-4">
                                <b>{{ file_name }}</b>
                            </p>
                        </div>
                        <p class="mb-0 mt-2">File size: {% size_unit file_size %}</p>
                        <div class="container-fluid p-0">
                            <div class="container mt-5 d-flex justify-content-center">
                                <a href="{{ download_link }}"><button id="download" class="btn rounded-pill btn-custom btn-lg btn-custom-width" style="width: 300px;">Download</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ends here -->
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>
{% endblock %}