<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Size</th>
                <th>Download Link</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.file_name }}</td>
                <td>{{ file.file_size }} bytes</td>
                <td><a href="{{ file.download_link }}">Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'upload_file' %}">Upload Another File</a>
</body>
</html>
