@font-face {
    font-family: myFont;
    src: url("../font/AvenirNextLTPro-Bold.otf");
  }
  @font-face {
    font-family: myFont;
    src: url("../font/AvenirNextLTPro-It.otf");
  }
  @font-face {
    font-family: myFont;
    src: url("../font/AvenirNextLTPro-Regular.otf");
  }

